body {
    background-image: url("Images/Math-Mathematics-Formula-Wallpaper-for-PC.jpg");
}

.back {
    background-color:lightgray;
	background-attachment: fixed;
}

<<<<<<< HEAD



=======
p {
	font-size: 1.2em;
}
>>>>>>> origin/master
