body {
    background-image: url("Images/Math-Mathematics-Formula-Wallpaper-for-PC.jpg");
}

.back {
    background-color:lightgray;
	background-attachment: fixed;
}

#j2 {
    height:0;
    padding-bottom: 100%
  }

  @media screen and (max-height:500px) {
    #j2 {
      width: calc(100vmin - 1em);
      height: calc(100vmin - 1em);
      padding:0
    }
  }